.appointmentsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.appointmentsContainer label {
    font-weight: bold;
    font-size: 18px;
}

.appointmentsTableContainer {
    width: 100%;
    height: 70vh;
}

.appointmentsDateCell {
    direction: ltr;
}

.appointmentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appointmentFormContainer {
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    row-gap: 15px;
    padding: 20px;
}

.appointmentFormContainer .spanTwoColumns{
    grid-column: 2 / span 2
}


.status {
    color: red;
    text-align: center;
    margin-right: 150px;
}

.statusInner {
    color: red;
    margin-right: 150px;
}
