.appointmentsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}
.appointmentsContainer label {
    font-weight: bold;
    font-size: 18px;
}

.landingPageContainer {
    background-color: #9d9c9c;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 500px;
    padding-top: 200px;
}
.landingPageContainer label {
    font-weight: bold;
    font-size: 18px;
    padding-right: 50px;
}

.appointmentsTableContainer {
    width: 100%;
    height: 70vh;
}

.appointmentsDateCell {
    direction: ltr;
}

.appointmentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appointmentFormContainer {
    display: grid;
    grid-template-columns: 3fr 3fr 6fr;
    row-gap: 15px;
    padding: 20px;
}

.appointmentFormContainer .spanTwoColumns{
    grid-column: 2 / span 2
}
