.sidebarContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;

    padding-top: 50px;
}

.link {
    width: 80%;
    text-decoration: none;
}

.link button {
    width: 100%;
}
