.loginContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.errorMessage {
    color: red;
}

.usernameTextField, .passwordTextField {
    width: 300px;
}
