{
  "tabWidth": 4,
  "arrowParens": "avoid",
  "singleQuote": true,
  "quoteProps": "preserve",
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.prettierrc"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
