.deptHeadAppointmentsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.deptHeadAppointmentsContainer label {
    font-weight: bold;
    font-size: 18px;
}

.appointmentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tableContainer {
    height: 500px;
    width: 100%;
}

